body {

}
.division {
    background-color: yellowgreen;
    height:25px;
    margin-top:15px;
    margin-bottom:10px;
}
.header{
    color:#223d7A;
    font-size:30px;
    padding-left:150px;
    font-weight:bold;
}
.selectheader{
    margin-top:-70px;
    padding-left:150px;   
}
.top{
    color:#223d7A;
    font-weight:bold;
    margin-right:200px;
}
.rowSpace{
    padding-left:100px;
}
.table{
    height:100px;
}
.background{
    background-color:#e6b78a;
    height:100px;
    width:100%;
}
.backgroundHead{
    background-color: yellowgreen;
}
.border 
{
    max-width: 700px;
    margin:auto;
    background: white;
    padding:40px;
    border: groove;
}


#imgRose
{
    height:70px;
    width:70px;
}
#imgVisa{
    height:70px;
    width:70px;
    margin-left:150px;
}
 .Columnspace{
      width: 275px;
 }
 #bottomline{
     color:#223d7a;
     margin-left:150px;
 }
 a {
  color: #223d7a;
}
 .imgWorld{
     height:70px;
     width:70px;
     margin-left:200px;
 }

.endLine{
     margin-left:250px;
 }
.refresh_image{
    height:20px;
    width:20px

}
.makePayment{
    height:30px;
    width:30px;

}
.line{
    height:5px;
    background-color:yellowgreen;
    margin-left:150px;
    width:550px;
}
.footer {
    background-color: #a3c738;
    height: 35px;
    font-weight: bold;
    font-size:x-large;
    color:darkblue;
    text-align:center;    
    width:100%;
    
}
