body {

}
.division {
    background-color: yellowgreen;
    height:25px;
    margin-top:15px;
    margin-bottom:10px;
}
.header{
    color:#223d7A;
    font-size:30px;
    padding-left:150px;
    font-weight:bold;
}
.selectheader{
    margin-top:-70px;
    padding-left:150px;   
}
.top{
    color:#223d7A;
    font-weight:bold;
    margin-right:200px;
}
.firstTable{
    height:120px;
}
.rowSpace{
    padding-left:100px;
}
.table{
    height:100px;
}
.background{
    background-color:#e6b78a;
    height:600px;
    width:100%;
}
.backgroundHead{
    background-color: yellowgreen;
}
.border 
{
    max-width: 700px;
    margin:auto;
    background: white;
   padding-top:40px;
   padding-right:40px;
   padding-left:40px;
    border: groove;
}


#imgRose
{
    height:70px;
    width:70px;
}
#imgVisa{
    height:70px;
    width:70px;
    margin-left:150px;
}
 .Columnspace{
      width: 275px;
 }
 #bottomline{
     color:#223d7a;
    
 }
 a {
  color: #223d7a;
}
 .imgWorld{
     height:70px;
     width:70px;
     margin-left:200px;
 }

.endLine{
    margin-left:120px;
    
 }
.refresh_image{
    height:5px;
    width:20px

}
.makePayment{
    height:30px;
    width:30px;

}
.line{
    height:5px;
    background-color:yellowgreen;
  
    width:550px;
}
.footer{
    background-color:#98cb00;
    height:35px;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:#223850;

}
.questionimage {
    padding-left:550px;
    float:right;
     
}

.questionimagebottom{
    
   
}
